@tailwind base;
@tailwind components;
@tailwind utilities;

.page{
    overflow-x: hidden;
}

.image-container {
    width: 100%;
}

.image-container>div {
    position: unset !important;
}

.image-container .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.disabled,
.disabled>a {
    filter: blur(2px);
    user-select: none;
    pointer-events: none;
}


.slick-track {
    display: flex !important;
    padding: 80px 0;
}

.slick-slide {
    height: inherit !important;
}

.slick-slide > div {
    height: 100%;
}